.loginpage{
    height: 200px;
    position: relative;

    background-color: rgb(255, 255, 255);
    
}

.logincard{
    top: 50%;
        left: 45%;
        width: 30em;
        height: 15em;
        transform: translate(-50%, -50%);
        border: 1px solid #944d4d;
        background-color: #ffffff;
        position: fixed;
        /* position: relative; */
}
label{
    display: inline-block;
    width: 100px;
}
div {
    margin-bottom: 10px;
    margin-left: 100px;
}

div.sub{
    margin-left: 250px;
}
